.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem; /* 16 * 0.25rem = 4rem */
  display: flex;
  align-items: center;
}

.navbarContent {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-left: 1rem;
  margin-bottom: 0;
  border-bottom: 1px solid #e5e7eb; /* Tailwind's gray-200 */
}

.logo {
  width: 24px;
}

